* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Asgalt';
    src: url('../font/Asgalt-Regular.ttf');
}

@font-face {
    font-family: 'Nunito-Light';
    src: url('../font/Nunito-LightItalic.ttf');
}

@font-face {
    font-family: 'Nunito-Regular';
    src: url('../font/Nunito-Regular.ttf');
}
@font-face {
    font-family: 'Gasalt-Regular';
    src: url('../font/Gasalt-Regular.ttf');
}

/* .container {
    margin-left: 13%;
    margin-right: 13%;
} */


/* Menu */

.menu {
    width: 100%;
    height: 537px;
    background-image: url('../images/backgrounds/index.jpg');
    background-size: cover;
    background-position-y: 50%;
    padding: 34px 0;
    position: relative;
}


/* Overlay effect */

.menu::before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay-content {
    position: relative;
}

.menu-container {
    max-width: 1200px;
    margin: 0 auto;
}

.menu-container::after,
.menu-container::before {
    content: '';
    display: table;
    clear: both;
}

.menu-logo {
    float: left;
    margin-left: 10px;
}

.menu-nav {
    float: right;
    margin-right: 10px;
}

.menu-nav li {
    display: inline-block;
}

.menu-nav a {
    padding: 10px;
    font-size: 3em;
    color: white;
    text-decoration: none;
    display: block;
    font-family: Asgalt;
}

.menu .title {
    font-family: 'Nunito-Regular';
    color: #ffff;
    font-size: 3em;
}

.menu .subtitle {
    font-family: 'Nunito-Light';
    color: #ffff;
    font-size: 0.875em;
    margin-bottom: 10px;
}

.menu .inputBox, .userSearchBox {
    width: 420px;
    height: 41px;
    outline: none;
    border: none;
    float: left;
    background-color: #F2F7FF;
    font-size: 1em;
    padding-left: 30px;
    color: #4D6180;
    font-family: 'Nunito-Regular';
}

.menu #searchUsers {
    display: none;
}


.menu #formSearch {
    display: block;
}

.inputBox::placeholder {
    color: #4D6180;
}

.menu-content-container {
    max-width: 650px;
    margin: 100px auto;
}

.menu .inputButton {
    width: 150px;
    height: 41px;
    background-color: #0E2548;
    color: white;
    font-family: 'Asgalt';
    font-size: 28px;
    border: none;
    padding: 8px;
    outline: none;
    cursor: pointer;
    transition: 1s;
}

.menu .inputButton:hover {
    transition: 1s;
    background-color: #4D6180;
}

.listSearch, .userListSearch{
    background-color: #4D6180;
    font-family: 'Nunito-Light';
    max-width: 450px;
    width: 100%;
    list-style: none;
    overflow-y: scroll;
    max-height: 95px;
    display: none;
}

.listSearch li {
    padding: 5px 32px;
    color: white;
}


.listSearch li:hover {
    cursor: pointer;
    background-color: rgba(167, 186, 214, 0.2);
}

.listSearch::-webkit-scrollbar {
    width: 4px;
    background-color: #4D6180;
}

.listSearch::-webkit-scrollbar-thumb {
    width: 4px;
    background-color: #0E2548;
}

.userListSearch li{
    padding: 5px 32px;
    color: white;
}

.userListSearch li:hover{
    cursor: pointer;
    background-color: rgba(167, 186, 214, 0.2);
}

.userListSearch::-webkit-scrollbar {
    width: 4px;
    background-color: #4D6180;
}

.userListSearch::-webkit-scrollbar-thumb {
    width: 4px;
    background-color: #0E2548;
}

/* Category */

.titleCategory {
    font-size: 4em;
    font-family: 'Asgalt';
    color: #0E2548;
}

.category {
    font-family: 'Nunito';
    max-width: 500px;
    margin: 30px auto 60px auto;
    text-align: center;
}

.category-icons li {
    display: inline-block;
    padding-left: 30px;
}

.category-icons ul {
    margin-right: 35px;
}


/* Info Area */

.info {
    width: 100%;
    background-color: #4989ff0a;
    padding: 30px 0px 30px 0px;
}

.info-container {
    max-width: 1200px;
    margin: 60px auto;
}

.info-container::before,
.info-container::after {
    content: '';
    display: table;
    clear: both;
}

.info-item .slide {
    float: left;
    vertical-align: none;
}

.info-item ul {
    list-style-type: none;
    float: right;
}

.info-item ul li img {
    vertical-align: middle;
    width: 60px;
}

.info-item ul li {
    padding: 5px 0px 5px 0px;
}

.info-item ul li p {
    font-family: "Nunito-Light";
    display: inline-block;
    vertical-align: middle;
    font-size: 1.5em;
}


/* Feedback */

.feedback-container {
    max-width: 250px;
    margin: 0 auto;
}

.feedback-container .feedback-title {
    font-size: 5em;
    font-family: 'Asgalt';
    padding: 30px 0px 0px 0px;
}

.feedback-container .feedback-subtitle {
    font-size: 1.2em;
    font-family: 'Nunito-Light';
}

.feedback-container .feedback-username {
    font-size: 1.0em;
    font-family: 'Nunito-Light';
    text-align: right;
}

.feedback-rating {
    margin-top: 30px;
    margin-bottom: 30px;
}

.feedback-rating .fa.fa-star {
    color: #E5EFFF;
    font-size: 2em !important;
}

.checked {
    color: #FFC30B !important;
}


/* Contact */

.contact {
    width: 100%;
    height: auto;
    padding: 30px 0px 30px 0px;
    background-color: #4989ff0a;
}

.contact-container {
    max-width: 1200px;
    margin: 0 auto;
}

.contact-form {
    float: left;
}

.contact-information {
    float: right;
}

.contact-container::before,
.contact-container::after {
    content: '';
    display: table;
    clear: both;
}

.contact-form form input[type=text],
form input[type=password],
textarea {
    width: 376px;
    height: 37px;
    background-color: #EBF2FF;
    outline: none;
    border: none;
    font-family: "Nunito-light";
}

.contact-form label {
    font-family: "Asgalt";
    font-size: 1.75em;
}

.contact-form textarea {
    height: 100px;
}

.contact-form input[type=submit] {
    width: 150px;
    height: 41px;
    background-color: #0E2548;
    color: white;
    font-family: 'Asgalt';
    font-size: 28px;
    border: none;
    padding: 8px;
    outline: none;
    cursor: pointer;
    transition: 1s;
    margin-top: 10px;
}

.contact-form input[type=submit]:hover {
    transition: 1s;
    background-color: #4D6180;
}

.contact-information {
    font-family: "Nunito-Light";
    font-size: 1.5em;
    margin-top: 80px;
}


/* Footer */

.footer {
    background-color: #0E2548;
    padding: 10px 0px 10px 0px;
    width: 100%;
    height: 3, 75em;
}

.footer-container {
    margin: 0 auto;
    max-width: 1200px;
}

.footer-container::before,
.footer-container::after {
    content: '';
    display: table;
    clear: both;
}

.text-color-yellow {
    color: #FFC30B !important;
}
/* Modal */

.modal-index{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 20;
    display: flex;
    
}
body{
    overflow-y: hidden;
}
.modal-content{
    width: 100%;
    max-width: 960px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* justify-content: center; */
    margin: 20px auto;
    height: 200px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.9);
    /* z-index: 15; */
    font-family: "Nunito-Light";
}

/* .modal-content::after{
    content: 'X';
    font-size: 1.5em;
    display: flex;
    align-self: flex-end;
    position:absolute;
    color: white;
    margin: 10px; */
    /* padding: 10px; */
    /* background-color: tomato; */
    
/* } */
/* .modal-content::after:hover{
    content: 'X';
    color: #FFC30B;
} */
.modal-header{
    display: flex;
    /* border: 1px solid black; */
    border-radius: 2px 2px 0px 0px;
    width: 100%;
    height: 50px;
    background-color: rgba(14, 37, 72);
    align-self: flex-start;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.modal-header span, .modal-header p {
    margin:10px;
    transition: 1s;
}
.modal-header span:hover{
    color: #FFC30B;
    cursor: pointer;
    transition: 1s;
}
.modal-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px 0;
}
.modal-body h2{
    font-family: "Asgalt";
    margin-bottom: 10px;
    font-size: 3em;
    font-weight: inherit;
}
.modal-body span{
    font-weight: bold;
    color: #424242;
}
/* .modal-footer{
    display: flex;
    width: 100%;
    background-color: rgba(14, 37, 72);
    align-self: flex-start;
    text-align: center;
    justify-content: center;
} */

/* btn */
.menu-nav ul li a:hover {
    color:#FFC30B;
    transition: 1s;
}