* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

#contacts-content li a:visited,
#contacts-content li a:active,
#contacts-content li a {
    color: inherit;
}

#contacts-content li a:hover {
    color: #0E2548;
}

@font-face {
    font-family: 'Asgalt';
    src: url('../font/Asgalt-Regular.ttf');
}

@font-face {
    font-family: 'Nunito-Light';
    src: url('../font/Nunito-LightItalic.ttf');
}

@font-face {
    font-family: 'Nunito-Regular';
    src: url('../font/Nunito-Regular.ttf');
}

@font-face {
    font-family: 'Gasalt-Regular';
    src: url('../font/Gasalt-Regular.ttf');
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* margin-bottom: 3.75em; */
    min-height: 100vh;
    display: grid;
    grid-template-rows: 4.95em auto 3.75em;
}

.menu-container {
    max-width: 1200px;
    margin: 0 auto;
}

.menu-container::after,
.menu-container::before {
    content: '';
    display: table;
    clear: both;
}

.menu-logo {
    float: left;
    margin-left: 10px;
}

.menu-nav {
    float: right;
    margin-right: 10px;
}

.menu-nav li {
    display: inline-block;
}

.menu-nav a {
    padding: 20px;
    font-size: 3em;
    color: white;
    text-decoration: none;
    display: block;
    font-family: Asgalt;
}

.footer {
    background-color: #0E2548;
    /* padding: 10px 0px 10px 0px; */
    /* position: absolute; */
    /* bottom: 0; */
    width: 100%;
    /* height: 3.75em; */
}

.footer-container {
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    background-color: #0E2548;
    /* padding: 10px 0px 10px 0px; */
    width: 100%;
}

.header-container {
    padding-left: 11.8%;
    margin: 0 auto;
    /* max-width: 1200px; */
}

.header-container::before,
.header-container::after {
    content: "";
    display: table;
    clear: both;
}


/* Profile  */

.profile-form input[type=submit],
#about-form input[type=submit],
#contacts-form input[type=submit], 
#rating input[type=submit]{
    width: 150px;
    height: 41px;
    color: white;
    font-family: 'Asgalt';
    font-size: 24px;
    border-color: #0E2548;
    padding: 8px;
    outline: none;
    cursor: pointer;
    margin-top: 10px;
    border-style: solid;
    transition: 1s;
    background-color: #0E2548;
}

.profile-form form input[type=text],
#rating input[type=text],
form input[type=password],
input[type=email],
textarea,
select,
input[type=file],
#contacts-form div input[type="text"] {
    width: 376px;
    /* height:37px; */
    background-color: #EBF2FF;
    outline: none;
    padding: 10px;
    border: none;
    font-family: "Nunito-light";
    /* padding-top: 30px; */
}

#contacts-form div input[type="text"] {
    margin: 10px 0px 10px 10px;
}

.profile-text-edit {
    font-family: "Gasalt-Regular";
    font-size: 1.75em;
    font-style: normal;
    font-weight: 400;
    line-height: 1em;
    letter-spacing: 0em;
    text-align: left;
}

.content-profile {
    /* max-width: 1020px; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    /* align-items: center; */
    /* flex-direction: row; */
    justify-content: space-around;
}

.perfil-provider {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    text-align: left;
    padding-right: 125px;
}

.profile-edit {
    margin-top: 65px;
}

.profile-item {
    max-width: 300px;
}

.profile-item h3 {
    font-size: 1.25em;
}

.profile-item ul {
    margin-top: 20px;
    list-style-type: none;
}

.profile-item ul li {
    color: #637EA6;
    font-size: 1.125em;
    line-height: 2;
    align-items: center;
}

.profile-item ul li i {
    font-size: 1.5em;
}

.perfil-img {
    display: flex;
    /* flex:2; */
    flex-wrap: wrap;
    align-items: center;
    margin-top: 40px;
    /* flex-basis: 2 1 300px; */
    /* max-width: 300px; */
    height: 100px;
    margin-left: 20px;
    /* flex: 1 1 260px; */
}

.perfil-img p {
    margin-left: 26px;
    color: #637EA6;
    font-family: "Nunito-Light";
    font-weight: bold;
}

.name {
    font-size: 1.25rem;
    color: #0E2548;
}


/* .profile {
    height: 100%;
    background: red;
    clip-path: polygon(0 0, 100% 0, 93% 100%, 0 100%);
} */


/* .profile-container {
    padding: 20% 0 0 30px;
    margin: 0 auto;
} */

.profile-item {
    font-family: 'Nunito-Regular';
    /* font-size: 20px; */
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    color: #0E2548;
    /* text-align: center; */
    margin: 7% 0 7% 0;
}

.profile-item span {
    font-size: 18px;
    color: #E5EFFF;
}

.profile-nav .profile-item h3 {
    font-size: 1.25em;
    margin-left: 15;
}

.profile-nav .profile-item p {
    font-size: 1em;
    font-family: "Nunito-Light";
    color: #637EA6;
}

.profile-text {
    font-family: "Nunito-Regular";
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
}

.profile-text-edit h3 {
    font-family: "Nunito-Regular";
    font-size: .8em;
    color: #0E2548;
}

.profile-form label {
    font-family: "Nunito-Regular";
    font-size: 0.7em;
    color: #0E2548;
}

.checked {
    color: #FFC30B !important;
}

.btn {
    width: 150px;
    height: 41px;
    color: white;
    font-family: 'Nunito-Regular';
    font-size: .8em;
    padding: 8px;
    outline: none;
    cursor: pointer;
    transition: 1s;
    margin-top: 10px;
    border-color: transparent;
    border: absolute 3px;
    border-style: solid;
    background-color: #0E2548;
    text-decoration: none;
}

.btn:hover {
    background-color: #4D6180;
    border-color: #FFC30B;
    border: absolute 3px;
    border-style: solid;
}

#form {
    display: none;
}

.text-color-yellow {
    color: #FFC30B !important;
}

h3 a {
    text-decoration: none;
    color: inherit;
    float: right;
}

#about-form,
#contacts-form {
    display: none;
}

#contacts-form {
    flex-direction: column;
}

#contacts-form div {
    display: flex;
    align-items: center;
}

#about-form textarea {
    max-width: 300px;
}

#hide-about-form,
#hide-evaluate-form,
#hide-contacts-form {
    display: none;
    color: red;
}

.port form {
    display: flex;
}

.port form input[type="file"] {
    /* flex: 1 1 0 !important; */
    /* margin-left: 5px; */
    flex-grow: 1;
    flex-wrap: wrap;
    position: relative;
    /* z-index: 2; */
    opacity: 0;
}


/* .port form input[type="file"]:hover{
    cursor: pointer;
} */

.send-img {
    display: flex;
    width: 50px;
    margin-right: 4px;
    flex-wrap: wrap;
    border-radius: 10%;
    justify-content: center;
    border: 2px dashed #637EA6;
    background-size: cover;
    /* z-index: 2; */
    /* background-color: transparent; */
}

.send-img::before {
    content: '+';
    font-family: 'Nunito-Light';
    color: #637EA6;
    display: flex;
    width: 10px;
    height: 10px;
    position: absolute !important;
    margin: auto;
    margin-top: 5px;
    /* cursor: pointer; */
}

.send-img:hover {
    border: 2px dashed #225baf;
    color: #0E2548;
    /* cursor: pointer; */
}

.send-img input {
    cursor: pointer !important;
}

#back {
    color: #0E2548;
    opacity: 0.5;
    text-decoration: none;
    font-size: 2em;
    position: absolute;
    top: 100px;
    left: 25%;
}

#back:hover {
    opacity: initial;
}

.profile-preview {
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    max-width: 510px;
    justify-content: center;
    height: auto;
}

.profile-preview-item {
    width: 135px;
    margin: 10px;
    height: 131px;
    /* border: 1px solid black; */
    background-size: cover;
    flex-grow: 1;
}

.profile-title {
    margin: 15px auto;
    width: 200px;
    font-family: 'Nunito-Regular';
    color: #0E2548;
}

.form-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 396px;
}

.form-side {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 10px;
}

.form-side:nth-of-type(2n+2) {
    margin-right: 0 !important;
}

.form-side input {
    width: 90% !important;
}

#address,
#city {
    width: 265.38px !important;
}

#address_number,
#state {
    width: 80px !important;
}

.service-content {
    display: flex;
    flex-wrap: wrap;
    width: 396px;
    background-color: #EBF2FF;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    overflow-y: scroll;
}

.service-content div {
    margin-left: 2px;
}

#contacts-form {
    font-size: 1.125em;
}

.service-content::-webkit-scrollbar {
    width: 4px;
    background-color: #4D6180;
}

#icon {
    font-size: 1.5em;
}

.service-content::-webkit-scrollbar-thumb {
    width: 4px;
    background-color: #0E2548;
}

.error-message-form {
    background-color: #ffe6e6;
    max-width: 280px;
    margin: 20px 0px 10px 0px;
    color: #994b4b;
    padding: 10px;
    text-align: center;
    border: 1px solid #ffcfcf;
    border-radius: 5px;
    font-family: 'Nunito-Light';
}

.error-message-form h4 {
    text-align: left;
    font-size: 19px;
}

.error-message-form {
    display: none;
    max-width: 396px !important;
}

.error-message-form ul {
    text-align: left;
    list-style: none;
}
.error-message-form ul li {
    font-size: 15px;
}
.star-widget input[type=radio]{
    display: none;
}
  .star-widget label{
    font-size: 40px;
    color: #C3CDDD;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}
  input[type=radio]:not(:checked) ~ label:hover,
  input[type=radio]:not(:checked) ~ label:hover ~label{
    color: #FFC30B;
    cursor: pointer;
}
  input[type=radio]:checked ~ label{
    color: #FFC30B;
}

.evaluate {
    display: none;
}
.cancel-button {
    float: right;
    background-color: #994b4b;
    margin-left: 5px;
    width: 130px !important;
}
.cancel-button:hover {
    background-color: #772929;
    opacity: 0.7;
}
