* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Asgalt';
    src: url('../font/Asgalt-Regular.ttf');
}

@font-face {
    font-family: 'Nunito-Light';
    src: url('../font/Nunito-LightItalic.ttf');
}

@font-face {
    font-family: 'Nunito-Regular';
    src: url('../font/Nunito-Regular.ttf');
}

@font-face {
    font-family: 'Gasalt-Regular';
    src: url('../font/Gasalt-Regular.ttf');
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* margin-bottom: 3.75em; */
    min-height: 100vh;
    display: grid;
    grid-template-rows: 4.95em auto 3.75em;
}

.footer {
    background-color: #0E2548;
    /* padding: 10px 0px 10px 0px; */
    /* position: absolute; */
    /* bottom: 0; */
    width: 100%;
    /* height: 3.75em; */
}

.footer-container {
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    background-color: #0E2548;
    /* padding: 10px 0px 10px 0px; */
    width: 100%;
}

.header-container {
    padding-left: 11.8%;
    margin: 0 auto;
    /* max-width: 1200px; */
}

.header-container::before,
.header-container::after {
    content: "";
    display: table;
    clear: both;
}

/* Profile  */
.profile-form input[type=submit] {
    width: 150px;
    height: 41px;
    color: white;
    font-family: 'Asgalt';
    font-size: 24px;
    border-color: #0E2548;
    padding: 8px;
    outline: none;
    cursor: pointer;
    margin-top: 10px;
    border-style: solid;
    transition: 1s;
    background-color: #0E2548;
}

.profile-form form input[type=text],
form input[type=password],  
input[type=email],
textarea,select,input[type=file]{
    width: 376px;
    /* height:37px; */
    background-color: #EBF2FF;
    outline: none;
    padding: 10px;
    border: none;
    font-family: "Nunito-light";
    /* padding-top: 30px; */
}
.profile-text-edit {
    font-family: "Gasalt-Regular";
    font-size: 1.75em;
    font-style: normal;
    font-weight: 400;
    line-height: 1em;
    letter-spacing: 0em;
    text-align: left;
}
.content-profile {
    /* max-width: 1020px; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    /* align-items: center; */
    /* flex-direction: row; */
    justify-content: space-around;
}
.perfil-provider{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: left;
    padding-right: 125px;
    
}
.profile-edit{
    margin-top: 65px;
}
.profile-item{
    max-width: 300px;
}
.profile-item h3{
    font-size: 1.25em;
}
.profile-item ul{
    margin-top: 20px;
    list-style-type: none;
}
.profile-item ul li{
    color: #637EA6;
    font-size: 1.125em;
    line-height: 2;
    align-items: center;
}
.profile-item ul li i {
    font-size: 1.5em;
}
.perfil-img{
    display:flex;
    /* flex:2; */
    flex-wrap: wrap;
    align-items: center;
    margin-top: 40px;
    /* flex-basis: 2 1 300px; */
    /* max-width: 300px; */
    height: 100px;
    margin-left: 20px;
    /* flex: 1 1 260px; */
}
.perfil-img p {
    margin-left: 26px;
    color: #637EA6;
    font-family: "Nunito-Light";
    font-weight: bold;
}
.name{
    font-size: 1.25rem;
    color: #0E2548;
}

/* .profile {
    height: 100%;
    background: red;
    clip-path: polygon(0 0, 100% 0, 93% 100%, 0 100%);
} */

/* .profile-container {
    padding: 20% 0 0 30px;
    margin: 0 auto;
} */


.profile-item {
    font-family: 'Nunito-Regular';
    /* font-size: 20px; */
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    color: #0E2548;
    /* text-align: center; */
    margin: 10% 0 10% 0;
}
.profile-item span{
    font-size: 18px;
    color: #E5EFFF;
}
.profile-nav .profile-item h3 {
    font-size: 1.25em;
    margin-left: 15;
    
}
.profile-nav .profile-item p {
    font-size: 1em;
    font-family: "Nunito-Light";
    color: #637EA6;
    
}
.profile-text {
    font-family: "Nunito-Regular";
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
}
.profile-text-edit h3{
    font-family: "Nunito-Regular";
    font-size: .8em;
    color: #0E2548;
}
.profile-form label {
    font-family: "Gasalt-Regular";
    font-size: 1em;
}
.checked{
    color:#FFC30B !important;
}
.btn{

    width: 150px;
    height: 41px;
    color: white;
    font-family: 'Nunito-Regular';
    font-size: .8em;
    padding: 8px;
    outline: none;
    cursor: pointer;
    transition: 1s;
    margin-top: 10px;
    border-color: transparent;
    border: absolute 3px;
    border-style: solid;
    background-color: #0E2548;
    text-decoration: none;
}
.btn:hover{
    background-color: #4D6180;
    border-color: #FFC30B;
    border: absolute 3px;
    border-style: solid;
}
#form{
    display: none;
}