* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Asgalt';
    src: url('../font/Asgalt-Regular.ttf');
}

@font-face {
    font-family: 'Nunito-Light';
    src: url('../font/Nunito-LightItalic.ttf');
}

@font-face {
    font-family: 'Nunito-Regular';
    src: url('../font/Nunito-Regular.ttf');
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* margin-bottom: 3.75em; */
    min-height: 100vh;
    display: grid;
    grid-template-rows: 4.95em 4em auto 3.75em;
}

.menu-container {
    max-width: 1200px;
    margin: 0 auto;
}

.menu-container::after,
.menu-container::before {
    content: '';
    display: table;
    clear: both;
}

.menu-logo {
    float: left;
    margin-left: 10px;
}

.menu-nav {
    float: right;
    margin-right: 10px;
}

.menu-nav li {
    display: inline-block;
}

.menu-nav a {
    padding: 20px;
    font-size: 3em;
    color: white;
    text-decoration: none;
    display: block;
    font-family: Asgalt;
}

.provider {
    /* padding:60px calc((100% - 1020px) / 2); */
    max-width: 1020px;
    /* background-color: red; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.provider-title {
    padding: 20px;
    font-family: 'Asgalt';
    font-weight: normal;
    text-align: center;
    font-size: 4.5em;
}

.provider-item {
    display: flex;
    width: 300px;
    max-height: 450px;
    flex-wrap: wrap;
    margin: 20px;
    padding: 10px;
    justify-content: center;
    text-align: center;
    background-color: rgba(235, 242, 255, 0.4);
    align-items: flex-end;
    margin-bottom: 30px;
}

.provider-img {
    width: 100px;
    display: flex;
    height: 100px;
    border-radius: 90%;
    z-index: 2;
}

.provider-img img {
    background-size: cover;
    z-index: 1;
    width: 100px;
    display: flex;
    height: 100px;
    border-radius: 90%;
    border: 5px solid rgba(178, 206, 255, 0.5);
    z-index: 2;
}

.provider-item::before {
    content: '';
    position: absolute;
    width: 300px;
    height: 12px;
    background-repeat: no-repeat;
    display: flex;
    align-self: flex-start;
    margin-top: -10px;
    /* border: 1px solid black; */
    background-image: url('/images/img-dotted.svg');
}

.star-size {
    font-size: 1.5em;
    font-family: 'Nunito-Light';
}

.provider-item form button {
    width: 120px;
    padding-top: 10px;
    height: 45px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Asgalt';
    background-color: inherit;
    border: 3px solid #B2CEFF;
    font-size: 1.5em;
    outline: none;
    cursor: pointer;
    transition: 1s;
    margin-bottom: 10px;
    text-decoration: none;
}

.provider-item form button:hover {
    background-color: inherit;
    border: 3px solid #FFC30B;
    transition: 1s;
}

.checked {
    color: #FFC30B !important;
}

.provider-item h1 {
    font-family: 'Asgalt';
    display: flex;
    text-align: center;
    font-size: 3em;
    font-weight: normal;
}

.provider-title2 {
    /* background-color: red; */
    width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
}

.provider-item p,
p {
    font-family: 'Nunito-Light';
    color: #424242;
}

.header {
    background-color: #0E2548;
    /* padding: 10px 0px 10px 0px; */
    width: 100%;
}

.header-container {
    padding-left: 11.8%;
    margin: 0 auto;
    /* max-width: 1200px; */
}

.header-container::before,
.header-container::after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    background-color: #0E2548;
    /* padding: 10px 0px 10px 0px; */
    width: 100%;
    height: 3.75em;
    bottom: 0;
}

.footer-container {
    margin: 0 auto;
    max-width: 1200px;
}

.footer-container::before,
.footer-container::after {
    content: '';
    display: table;
    clear: both;
}

.text-color-yellow {
    color: #FFC30B !important;
}
.teste {
    visibility: hidden;
    display: flex;
    /* width: 300px; */
    height: 200px;
    flex-wrap: wrap;
    margin: 20px;
    padding: 10px;
    justify-content: center;
    text-align: center;
    background-color: rgba(235, 242, 255, 0.4);
    align-items: flex-end;
    margin-bottom: 30px;
}
/* Provider Area */
#no-service {
    text-align: center;
}

.not-found {
    margin-top: 30px;
}
.empty-star {
    color: #C3CDDD;
}
.count-evaluations {
    font-size: 15px;
}

.profile-img{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #0E2548;
}

.profile-img p{
    color: white; 
    font-size: 4em;
    font-family: 'Nunito-Regular';
    margin: 3px;
}